
@{
    ViewData["Title"] = "TipoEquipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
    <!-- Header Starts -->
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Tipo de equipo</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Tipo de equipo </a>
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <!------------>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">
                        <strong>
                            <i class="ti-notepad"></i>
                        </strong>
                        Tipo de equipo</h5>
                    <p>Catálogo de Tipos de Equipos Disponibles</p>
                </div>
                <div class="card-block">
                    <form onsubmit="return false;" action="#" id="Tipo de Equipo">

                        <div class="row">
                            <div class="col-md-6">
                            </div>

                            <div class="col-md-6 text-right">

                                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-placement="top" data-target="#ModalTipoEquipo" data-original-title=".icofont-search-alt-2">
                                    <i class="icofont icofont-plus"></i> <span class="m-l-10">Nuevo Tipo de Equipo</span>
                                </button>
                            </div>
                        </div>
                        <br /><br />

                        <div class="col-sm-12 table-responsive">
                            <table id="TTEquipo" class="table">
                                <thead>
                                    <tr>
                                        <th>Tipos de equipos</th>
                                        <th>Fecha de registro</th>
                                        <th style="text-align:center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="Contenido">
                                    @{
                                        if (ViewBag.CatTipoEquipo != null)
                                        {
                                            foreach (var item in ViewBag.CatTipoEquipo)
                                            {
                                                <tr>
                                                    <td>@item.Nombre</td>
                                                    <td>@item.FechaRegistro</td>
                                                    <td>
                                                        <span style="position: absolute; right: 5%; text-align:center">
                                                            <i onclick="Info('@item.Id','@item.Nombre')" class="ti-pencil-alt btn btn-inverse-primary waves-effect waves-light" style="margin-right: 10px;" data-toggle="modal" data-target="#ModalTipoEquipoEditar"></i>
                                                            <i onclick="eliminar(@item.Id)" class="icofont icofont-ui-delete btn btn-inverse-danger waves-effect waves-light"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nuevo tipo equipo -->
<div class="modal fade" id="ModalTipoEquipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bd-example-modal-sm" role="document">
        <div class="modal-content">
            <form onsubmit="return false;" action="#" id="NuevoTipoEquipo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nuevo tipo equipo </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Nombre Tipo Equipo </label>
                                <input type="text" class="form-control" placeholder="Tipo equipo" id="Modal_TipoEquipo_Nombre" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default waves-effect waves-light  " data-dismiss="modal">
                        <i class="icofont icofont-close-squared-alt"></i><span class="m-l-12"> Cancelar </span>
                    </button>

                    <button onclick="NuevoEquipo()" type="button" class="btn btn-primary waves-effect waves-light " data-original-title=".icofont-home">
                        <i class="icofont icofont-save "></i><span class="m-l-12"> Registrar </span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Editar tipo equipo -->
<div class="modal fade" id="ModalTipoEquipoEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bd-example-modal-sm" role="document">
        <div class="modal-content">
            <form onsubmit="return false;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nuevo tipo equipo </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Nombre Tipo Equipo </label>
                                <input type="text" class="form-control" placeholder="Tipo equipo" id="Modal_TipoEquipo_NombreEditar" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default waves-effect waves-light  " data-dismiss="modal">
                        <i class="icofont icofont-close-squared-alt"></i><span class="m-l-12"> Cancelar </span>
                    </button>

                    <button id="Editar" type="button" class="btn btn-primary waves-effect waves-light " data-original-title=".icofont-home">
                        <i class="icofont icofont-save "></i><span class="m-l-12"> Actualizar </span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#MenuCatalogo").addClass("active");
        $("#MenuInventarioTipoEquipo").addClass("active");

        $('#TTEquipo').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        }).on('init.dt', function () {

            $('.dataTables_filter input').attr('placeholder', 'Tipo equipo');
        });
    });
    function eliminar(Ids) {
        swal({
            title: "Eliminar",
            text: "Eliminar registro?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, Eliminar!",
            cancelButtonText: "No, cancelar!",
            closeOnConfirm: false,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {

                    const cat_TipoEquipo = {
                        Id: Ids
                    };

                    fetch("/Inventario/CatTipoEquipo/Delete_TipoEquipo", {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify(cat_TipoEquipo)
                    })
                        .then(res => res.json())
                        .then(res => {
                            if (res.id > 0) {
                                swal({
                                    title: "Eliminado!",
                                    text: "El registro ha sido eliminado.",
                                    imageUrl: "https://asddemo.asae.com.mx/icons/operacion/delete.png",
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            CargaEquipos();
                                        }
                                    });

                            } else {
                                swal({
                                    title: "Registro no eliminado",
                                    text: "No es posible realizar la operacion selecionada!",
                                    imageUrl: "https://asddemo.asae.com.mx/icons/operacion/alert.png",
                                    buttons: true,
                                    dangerMode: true,
                                }).then((willDelete) => {

                                });
                            }
                        });

                }
            });
    }

    ////////////////////////////////
    ////// NUEVO TIPO EQUIPO ///////
    ////////////////////////////////
    function NuevoEquipo() {

        if (ValidateFormNuevoTipoEquipo()) {
            var NewIdTipoEquipo = 0;
            const _model = {
                Nombre: $("#Modal_TipoEquipo_Nombre").val(),
            };

            fetch("/Inventario/CatTipoEquipo/CreateCat_TipoEquipo", {
                method: "POST",
                headers: { "Content-Type": "application/json; charset=utf-8" },
                body: JSON.stringify(_model)
            })
                .then(res => res.json())
                .then(res => {
                    if (res.id == -1) {
                        swal({
                            title: "Tipo equipo no registrado",
                            text: "El tipo de equipo que intentas agregar ya se encuentra registrado. !",
                            imageUrl: "https://asddemo.asae.com.mx/icons/operacion/alert.png",
                            buttons: true,
                            dangerMode: true,
                        }).then((willDelete) => {

                        });
                    } else if (res.id == 0) {
                        swal({
                            title: "Tipo equipo no registrado",
                            text: "No es posible registrar el tipo de quipo. !",
                            imageUrl: "https://asddemo.asae.com.mx/icons/operacion/alert.png",
                            buttons: true,
                            dangerMode: true,
                        }).then((willDelete) => {

                        });
                    } else if (res.id > 0) {
                        NewIdTipoEquipo = res.id;
                        swal({
                            title: "Nuevo tipo de quipo registrado.",
                            text: $("#Modal_TipoEquipo_Nombre").val(),
                            imageUrl: "https://asddemo.asae.com.mx/icons/operacion/create.png",

                            showCancelButton: false,
                            confirmButtonColor: "#3070A9",
                            confirmButtonText: "Aceptar",
                            closeOnConfirm: false,
                        },
                            function (isConfirm) {
                                swal.close();
                                $('#ModalTipoEquipo').modal('hide');


                                CargaEquipos();

                            }
                        );
                    }
                });
        }
    }
    function ValidateFormNuevoTipoEquipo() {
        var result = false;

        $('#Modal_TipoEquipo_Nombre').css("border", "1px solid red");

        if ($('#Modal_TipoEquipo_Nombre').val().length > 0) {
            $('#Modal_TipoEquipo_Nombre').css("border", "1px solid rgba(0, 0, 0, .15)");
        }

        if ($('#Modal_TipoEquipo_Nombre').val().length > 0) {
            result = true;
        }

        return result;
    }
    function CargaEquipos() {

        fetch("/Inventario/CatTipoEquipo/GetCat_TipoEquipo_Seleccionar", {
            method: "POST",
            headers: { "Content-Type": "application/json; charset=utf-8" },
        })
            .then(res => res.json())
            .then(res => {
                tabla(res);
            });
    }
    function tabla(datos) {
        var table = $('#TTEquipo').DataTable();
        table.destroy();
        Contenido.innerHTML = "";


        for (let valor of datos) {
            let fechaRegistro = new Date(valor.fechaRegistro);
            let formattedFechaRegistro = fechaRegistro.toISOString().split('T')[0];

            Contenido.innerHTML += `

                <tr>
                    <td>${valor.nombre}</td>
                    <td>${formattedFechaRegistro}</td>
                    <td>
                        <span style="position: absolute; right: 5%; text-align:center">
                            <i onclick="Info('${valor.id}','${valor.nombre}')"class="ti-pencil-alt btn btn-inverse-primary waves-effect waves-light" style="margin-right: 10px;" data-toggle="modal" data-target="#ModalTipoEquipoEditar"></i>
                            <i onclick="eliminar(${valor.id})" class="icofont icofont-ui-delete btn btn-inverse-danger waves-effect waves-light"></i>
                        </span>
                    </td>
                </tr>
            `
        }

        $('#TTEquipo').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        }).on('init.dt', function () {
            $('.dataTables_filter input').attr('placeholder', 'Buscar Tipo equipo');
        });
    }

    function Info(Id, nombre) {
        $("#Modal_TipoEquipo_NombreEditar").val(nombre);
        $("#Editar").off("click").on("click", function () {
            EditarStatus(Id);
        });
    }


    function EditarStatus(Id) {
        const cat_TipoEquipo = {
            Id: Id,
            Nombre: $("#Modal_TipoEquipo_NombreEditar").val()
        };
        fetch("/Inventario/CatTipoEquipo/Update_TipoEquipo", {
            method: "POST",
            headers: { "Content-Type": "application/json; charset=utf-8" },
            body: JSON.stringify(cat_TipoEquipo)
        })
            .then(res => res.json())
            .then(res => {
                if (res.id == 1) {
                    swal({
                        title: "Actualizado!",
                        text: "El registro ha sido Actualizado.",
                        imageUrl: "https://asddemo.asae.com.mx/icons/operacion/update.png",
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $('#ModalTipoEquipoEditar').modal('hide');
                                CargaEquipos();
                            }
                        });
                } else {
                    swal({
                        title: "Registro no Actualizado",
                        text: "No es posible realizar la operación seleccionada!",
                        imageUrl: "https://asddemo.asae.com.mx/icons/operacion/alert.png",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                    });
                }
            });

    }

</script>

