
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        margin-bottom: 30px;
        border: none;
        box-shadow: 0px 0px 7px rgb(0 0 0 / 13%);
    }

    /*.card-header {
        padding: 20px;
        background-color: transparent;
        color: #757575;
        border-bottom: none;
        background: linear-gradient(to top, #34457d, #43abd9);
        color: #ffffff;
    }*/

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        /* margin-bottom: -1px; */
        /* background-color: #fff; */
        /* border: 1px solid #ddd; */
    }

    .card-header-text {
        margin-bottom: 0;
        font-size: 1rem;
        text-transform: initial;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        color: rgb(99 98 98);
    }

    .Selecionado{
        background-color: #d7d7d7;
    }

    .btn {
        text-transform: initial;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        font-size: 13px;
        font-weight: 600;
        -webkit-transition: box-shadow linear 0.4s;
        -moz-transition: box-shadow linear 0.4s;
        -ms-transition: box-shadow linear 0.4s;
        transition: box-shadow linear 0.4s;
    }

</style>


<!-- Modal Nuevo Responsable-->
<div class="modal fade" id="ModalResponsable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bd-example-modal-sm" role="document">
        <div class="modal-content">
            <form action="#" id="NuevoModelo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nuevo responsable </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Usuario </label>
                                <select class="form-control js-example-basic-single" id="Modal_Responsable_Usuario">
                                    <option value="0" selected>Seleccionar</option>
                                    @{
                                        if (ViewBag.Usuario != null)
                                        {
                                            foreach (var item in ViewBag.Usuario)
                                            {
                                                <option value="@item.Usuario.Id">@item.Persona.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Notificar al día</label>
                                <input type="number" class="form-control" value="1" id="Modal_Responsable_Dia" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default waves-effect waves-light  " data-dismiss="modal" id="btnCerrarModalResponsable">
                        <i class="icofont icofont-close-squared-alt"></i><span class="m-l-12"> Cancelar </span>
                    </button>

                    <button type="submit" class="btn btn-primary waves-effect waves-light " data-original-title=".icofont-home" onclick="RegistrarResponsable()">
                        <i class="icofont icofont-save "></i><span class="m-l-12"> Agregar </span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Nuevo horario-->
<div class="modal fade" id="ModalHorario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bd-example-modal-sm" role="document">
        <div class="modal-content">
            <form action="#" id="NuevoModelo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nuevo horario </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Horario de envió de notificación  </label>
                                <input type="time" class="form-control" value="" id="Modal_horario" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default waves-effect waves-light  " data-dismiss="modal" id="btnCerrarModalHorario">
                        <i class="icofont icofont-close-squared-alt"></i><span class="m-l-12"> Cancelar </span>
                    </button>

                    <button type="submit" class="btn btn-primary waves-effect waves-light " data-original-title=".icofont-home" onclick="RegistrarHorario()">
                        <i class="icofont icofont-save "></i><span class="m-l-12"> Agregar </span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Main content starts -->
<div class="container-fluid">
    <!-- Header Starts -->
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Escalación </h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Ticket </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> Escalación </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Header end -->
    <!-- Row start -->
    <div class="row">
        <div class="col-sm-8">
            <!-- Nuevo ticket -->
            <div class="card" id="DivFlujoContenido">
                <div class="card-header">
                    <h5 class="card-header-text">
                        <strong>
                            <i class="ti-filter"></i>
                        </strong>Escalación (notificación por atención)
                    </h5>
                    <p>Configuración general por flujo de trabajo, completa los campos marcados para gregar un nuevo usuario a la lista <code> * </code> </p>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label"> Tipo de servicio </label>
                                <select class="form-control js-example-basic-single" id="Escalacion_TipoServicio" onchange="CargaResponsables();">
                                    <option value="0" selected>Seleccionar</option>
                                    @{
                                        if (ViewBag.Flujos != null)
                                        {
                                            foreach (var item in ViewBag.Flujos)
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>Lista de responsables, notificación por email a responsables del servicio.  </p>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar responsable a la lista" onclick="AbrirModalResponsable()">
                                <i class="ti-layers-alt"></i>
                                Agregar
                            </button>
                        </div>
                        <div id="TabResponsables">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="DivTiempoAtencionContenido" style="display:none;">
                <div class="card-header">
                    <h5 class="card-header-text">
                        <strong>
                            <i class="ti-timer"></i>
                        </strong>Horario de notificación
                    </h5>
                    <p>Configuración de los periodos de emisión de notificación, completa los campos marcados <code> * </code> </p>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="chkremeberme" checked>
                                <label for="chkremeberme" class="m-b-10">Notificaciones activas </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label"> Tipo de servicio </label>
                                <select class="form-control js-example-basic-single" id="Horario_TipoServicio" onchange="CargaHorarios();">
                                    <option value="0" selected>Seleccionar</option>
                                    @{
                                        if (ViewBag.Flujos != null)
                                        {
                                            foreach (var item in ViewBag.Flujos)
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <p>Lista de horarios de envió de notificaciones, notificación por email.  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar horario a la lista" onclick="AbrirModalHorario()">
                                <i class="ti-layers-alt"></i> Agregar
                            </button>
                        </div>
                        <div id="TabHorario">
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card" id="DivEscalacionContenido" style="display:none;">
                <div class="card-header">
                    <h5 class="card-header-text">
                        <strong>
                            <i class="ti-brush-alt"></i>
                        </strong> Escalación por ticket (tickets en operacion)
                    </h5>
                    <p>Escalación personalizada por ticket, sobre notificaciones emitidas (recordatorios), completa los campos marcados <code> * </code> </p>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <p>Lista de tickets que se encuentran en operación.  </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-8 table-responsive">
                            <table class="table table-striped row-border order-column table-hover" id="mydatatable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="background-color: #ffffff;">Folio</th>
                                        <th class="text-center">Tipo de servicio</th>
                                        <th>Sucursal </th>
                                        <th>Tiempo de atención  </th>
                                        <th>Status </th>
                                        <th>Prioridad </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewBag.Tickets != null)
                                        {
                                            foreach (var item in ViewBag.Tickets)
                                            {
                                                <tr>
                                                    <td style="background-color:#FFFFFF">@item.Folio.Folio</td>
                                                    <td>@item.Ticket.Flujo.Nombre</td>
                                                    <td>@item.Ticket.Sucursal.Nombre</td>
                                                    <td>@item.TiempoAtencion</td>
                                                    <td>
                                                        <div class="label-main"><label class="label label-md" style="background-color: @item.Ticket.Cat_EstatusTicket.Color">@item.Ticket.Cat_EstatusTicket.Nombre</label></div>
                                                    </td>
                                                    <td>
                                                        <div class="label-main"><label class="label label-md" style="background-color: @item.Ticket.Cat_Prioridad.Color">@item.Ticket.Cat_Prioridad.Nombre</label></div>
                                                    </td>
                                                    <td>
                                                        <button onclick="ConsultarEscalacion(@item.Ticket.Id)" type="button" class="btn btn-primary waves-effect waves-light m-r-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar escalación" onclick="AbrirModalHorario()">
                                                            <i class="ti-layers-alt"></i> Agregar
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <!-- Nuevo ticket -->
            <div class="card" id="CardMenuConfiguracion">
                <div class="card-header">
                    <h5 class="card-header-text"> <i class="ti-settings"></i> Configuración </h5>
                </div>
                <div class="card">
                    <div class="">
                        <a id="DivFlujo" class="list-group-item list-group-item-action flex-column align-items-start Selecionado" onclick="navegacion(1)">
                            <p class="mb-1">
                                <strong>
                                    <i class="ti-filter"></i>
                                    Flujo de trabajo
                                </strong> <br />
                                Asignación de responsables por servicio.
                            </p>
                        </a>
                        <a id="DivTiempoAtencion" class="list-group-item list-group-item-action flex-column align-items-start" onclick="navegacion(2)">
                            <p class="mb-1">
                                <strong>
                                    <i class="ti-timer"></i>
                                    Horario de notificación
                                </strong><br />
                                Configuración de los periodos de emisión de notificación.
                            </p>
                        </a>
                        <a id="DivEscalacion" class="list-group-item list-group-item-action flex-column align-items-start" onclick="navegacion(3)">
                            <p class="mb-1">
                                <strong>
                                    <i class="ti-brush-alt"></i>
                                    Escalación (ticket)
                                </strong> <br />
                                Escalación personalizada por ticket, en notificaciones.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card" id="CardAgregarUsuario" style="display:none;">
                <div class="card-header">
                    <h5 class="card-header-text"> <i class="ti-angle-double-left" style="color: #1b8bf9;" onclick="AbrirConfiguracion()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Volver al menú de configuración"></i> Agregar escalamiento </h5>
                    <p>Escalación personalizada por ticket, sobre notificaciones emitidas (recordatorios), completa los campos marcados <code> * </code> </p>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Usuario </label>
                                <select class="form-control js-example-basic-single" id="Ticket_Responsable_Usuario">
                                    <option value="0" selected>Seleccionar</option>
                                    @{
                                        if (ViewBag.Usuario != null)
                                        {
                                            foreach (var item in ViewBag.Usuario)
                                            {
                                                <option value="@item.Usuario.Id">@item.Persona.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="form-group">
                                <label for="exampleSelect1" class="form-control-label">* Notificar al día</label>
                                <input type="number" class="form-control" value="1" id="Ticket_Responsable_Dia" />
                            </div>
                        </div>
                        <div class="col-lg-12 text-right" id="DivBtnRegistrarResponsableTicket">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <p>Lista de responsable del la operación del ticket.  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="TabResponsablesTicket">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/js/ticket/escalacion/_index.js"></script>
